.circularButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 56px;
  font-size: 1.5rem;
  text-transform: capitalize;

  --box-shadow: none;
}

.primary {
  --background: var(--color-primary);
  --background-hover: var(--color-primary-hover);
  --color: var(--text-inverse);
}

.secondary {
  --background: var(--color-secondary);
  --background-hover: var(--color-secondary-hover);
  --color: var(--text-inverse);
}

.accent {
  --background: var(--color-accent);
  --background-hover: var(--color-accent-hover);
  --color: var(--text-inverse);
}