.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(rgba(44, 5, 80, 0.7), rgba(0, 0, 0, 0.3)), url('../../assets/images/trocadu_background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}